#imageee{
    width:50%;
    height:50%;

}
body{
    background-color:grey;
}
#shoppingcenter{
    display:flex;
    margin-left:27%;

}

#titles{
    display:flex;
    background-color:white;
    height:65px;
    margin-top:2%;
}
#name{
  display:flex;
  justify-content:center;
    margin-top:8px;
    margin-left:29%;
    width:75%;
    font-size:26px;
}
#squareimage{
    width:7%;
    height:95%;
}

#cart{
    margin-left:40%;
    width:4%;
    height:95%;

}
#middle{
    display:flex;
    margin-top:35px;

}
#tag{
    display:flex;
 background-color:silver;
 width:50%;

}
#imageshirt{
    width:100%;
}
#imageiteams{
    display:flex;
    width:50%;
    height:30%;
    }
#shopingitems{
    width:100%;
    height:30%;
}
#tagline{
    display:flex;

}
.items{
    display:flex;
    margin-top:35px;


}

.itemlist{
    width:65%;
    height:55%;
    border:5px solid black;

}
#information{
   display:flex;
   background-color:rgba(189, 185, 185, 0.87);
}
.facebook{
    width:120px;
    height:74px;
    border: 5px solid rgb(18, 18, 87);
    margin-left:0%;
}
h2{

    color:rgb(97, 26, 26);
    font-size: 10px;

}
#shoppingbags{
    margin-left:25%;
    width:50%;
    border: 2px solid black;
    margin-top:35px;
}
#information{
    border: 2px solid red;
    margin-left:0%;
}
#contact{
    border:4px solid green;
    margin-right:100%;
}
#history{
    margin-left:30%;
}
h3{
    display:flex;
   justify-content:center;
}

#rightside{
    margin-left:20%;

}
#leftside{
    margin-right:5%;
}
#left{
    margin-left:3%;
}
#center{
    margin-left:14%;
}
#centerright{
    margin-left:15%;
}
#centerleft{
    margin-left:14%;
}
#location{
    display:flex;
}
#numberofitems{
    width:14px;
    height:22px;
    margin-right:65px;
}
#space{
    height:70%;
}
#square{
    margin-top:45px;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;

  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.container{
    display:flex;
    justify-content:center;
}