#imageee{
    width:50%;
    height:50%;

}
body{
    background-color:grey;
}

#titles{
    display:flex;
    justify-content:center;
    background-color:gold;

}
#squareimage{
    display:flex;
    width:4%;
    height:5%;
}

#cart{
    width:4%;
    height:5%;

}
#middle{
    display:flex;

    border: 5px red solid;

}
#tag{
    display:flex;
 background-color:silver;
 width:50%;

}
#imageshirt{
    width:100%;
}
#imageiteams{
    display:flex;
    width:50%;
    height:30%;
    }
#shopingitems{
    width:100%;
    height:30%;
}
#tagline{
    display:flex;

}
#items{
    display:flex;

}
#shoe{
    width:40%;
    height:40%;
}

#sunglass{
    width:40%;
    height:40%;
}
