.header{
    text-align: center;
}

#logo{
    width: 200px;
}

#title{
    text-align: center;
}

.items{
    width: 200px;
}
.content{

    flex-flow: row wrap;
    justify-content: space-around;
    width: 1000px;
    text-align: center;
}

