#top{
    display: flex;
    overflow: hidden;
    position: fixed;
    margin-top: 5px;
    width: 100%;
    justify-content: space-between;
}

.header{
    display: flex;
    width: 100%;
}

#logo{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;

}
#logo:hover{
    width: 250px;
    Height: 250px;
    cursor: pointer;
}


#backBtn{
    width:100px;
    height:20px;
}

#cartBtn{
    width:100px;
    height:20px;
}

#title{
    text-align: center;
}

.content{
    display: flex;
    flex-flow: row wrap;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.items{
    width: 200px;
    height: 200px;
}


.imgDiv1 {
  position: relative;
  width: 200px;
  height: 200px;
}

.img1 {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

#imgDiv1:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*
Modal and Transparency starts header
*/


/*
Modal and Tranparency ends header
*/