#top{
    display: flex;
    overflow: hidden;
    position: fixed;
    margin-top: 5px;
    width: 100%;
    justify-content: space-between;
}
body{
max-width:1100px;
}

.header{
    display: flex;
    width: 100%;
}

#logo{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;

}
#logo:hover{
    width: 250px;
    Height: 250px;
    cursor: pointer;
}


#backBtn{
    width:100px;
    height:20px;
}

#cartDiv{
    display: flex;
    overflow: hidden;
    position: fixed;
    margin-top: 5px;
    width: 100%;
}

#cartpicture{
    width:73px;
    height:73px;
    margin-left: 80%;
    background-color: white;
}

#cartpicture:hover{
    cursor: pointer;
}

#cartpicture:active{
    background-color: black;
}

#numbercart{
    height:55%;
    color:red;
    border-radius: 20%;
    padding-bottom: 10px;
    margin-top:-3px;
    margin-left:-20px;
}


#title{
    text-align: center;
}

.content{
    display: flex;
    justify-content:center;
    flex-flow: row wrap;
    width: 800px;

}

.items{
    width: 200px;
    height: 200px;
}

/*
Start of hover
*/
.imgDiv1 {
  position: relative;
  width: 200px;
  height: 200px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #7d8491;
}

.imgDiv1:hover .overlay {
  opacity: 0.95;
  cursor: pointer;
}

.text {
  color: white;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid snow;
  border-radius: 3px;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: bold;
}
/*
end of hover
*/

/*
Modal and Transparency starts header
*/


/*
Modal and Tranparency ends header
*/
.popupimage1{
    width: 200px;
}

.open-button {
    background-color: black;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup form - hidden by default */

.form-popUp{
    display: none;
    position: center;
    margin: auto;
    width: 500px;
    height: 400px;
}


.form-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: #C0C0C0	;
    border: 3px solid black;
    margin: auto;
    width: 500px;
    height:400px;
}


.close-button{
    width:32px;
    height:32px;

}

.popup{
    display:flex;
}

.variationBtn{
    margin: auto;
}



.info{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 400px;
    margin-left: 30px;
}

#infoDiv{
    height: 50%;
    width: 100%;
}

#buttonDiv{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
}

.itemTitle{
    text-align: center;
}
.itemDesc{
    text-align:center;
}