.visibledevice {
    display:none;
    }
@media (max-width : 320px) {
    .visibledevice {display:block;}
    .visibledesktop {display:none;}
}


#header{
    display: flex;
    flex-direction: column;

}
#backBtn{
    width:32px;
    height:32px;
}

#backBtn:hover{
    cursor: pointer;
}

#logo{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;

}
#shoppingCart{
    display:flex;
}


#logo:hover{
    width: 150px;
    Height: 150px;
    cursor: pointer;
}

#title{
    text-align: center;
}

#categories{
    display: flex;
    justify-content: space-around;
}

#name{
     margin-left:32.8%;
}


#quantity{
    margin-left: 16%;
}
#price{
    margin-left:12%;
}

#bottom{
    display: flex;
    width: 70%;
    justify-content: space-between;

}

#blank{
    margin-left: 270px;
}

#totalQuantity{
    display: flex;
    flex-direction: row;
    width: 700%;
    margin-left:81%;

}

#totalPrice{
    display:flex;
    flex-direction: row;
    margin-right: 400px;

}
#totalNum{
    margin-left:300px;
}



.price{
    height: 20px;
    text-align: center;
}

#content{
    display: block;
    width: 100%;
    height: 500px;
    overflow-y: auto;
    border: 5px ridge grey;
}

#nameCategory{
    display: flex;
    flex-direction: column;
    width: 50%;
}

#quantityCategory{
    display: flex;
    flex-direction: column;
    width: 25%;
}

#priceCategory{
    display: flex;
    flex-direction: column;
    width: 25%;
}

input{
    width: 20px;
}

#whitespace1{
    width: 50%;
}

#whiteSpace2{
    width: 25%;
}

#actuallContent{
    width:25%;
}

#delete1{
    width:25%;
    height:8%;
}

#numOfQuan{
    margin-top: 29px;
    margin-left: 15px;
}

#numOfTotal{
     margin-top: 29px;
    margin-left: 11%;
}

/*
wrapper css
*/

.wrapper{
    display:Flex;
    justify-content: space-around;
    width: 100%;


}
.quantity{
     height:25%;
    margin-top:25px;
}
.plus{
     height:30px;
    margin-top:25px;
}

.minus {
    height:30px;
    margin-top:25px;
    }

.name{
    width:7%;
}

.itemImg{
    Height: 100px;
    width: 100px;
}

.quantityWrapper{
    height:97px;
}


/*


 */
 #backButton{
     width:32px;
     height:32px;
 }


