#header{
    display: flex;
    flex-direction: column;
}

#logo{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;

}

#logo:hover{
    width: 150px;
    Height: 150px;
    cursor: pointer;
}

#title{
    text-align: center;
}

#categories{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#name{
    width: 50%;
}

#quantity{
    width: 25%;
}

#price{
    width: 25%;
    text-align: center;
}

#bottom{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.quantity{
    height: 20px;
}

.price{
    height: 20px;
    text-align: center;
}
#content{
    display: flex;
    height: 300px;
    overflow-y: auto;
}

#nameCategory{
    display: flex;
    flex-direction: column;
    width: 50%;
}

#quantityCategory{
    display: flex;
    flex-direction: column;
    width: 25%;
}

#priceCategory{
    display: flex;
    flex-direction: column;
    width: 25%;
}

input{
    width: 20px;
}
#whitespace1{
    width: 50%;
}
#whiteSpace2{
    width: 25%;
}
#actuallContent{
    width:25%;
}

.quantityTest{
    margin: 18px;
}
#delete1{
    width:25%;
    height:8%;
}